
# Jekyll Build Output
/_site/

# Incremental build data
.jekyll-metadata

# Local Cache Files
.jekyll-metadata
.jekyll-cache/

# Ruby/Bundler Environment Files
.bundle/
vendor/

.vscode/

/_drafts/
/_scripts/.ipynb_checkpoints
htmlproofer_report.txt
