*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gz.*.ico filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.ico !text !filter !merge !diff
*.pdf !text !filter !merge !diff
